* {
    margin:  .2rem;
    border: 5px solid chartreuse;
}

.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: black;
}

#imagen1 {
    height: 99%;
}
#anterior, #siguiente {
    position: absolute;
}
#anterior {
    left: 30px;
}
#siguiente {
    right: 30px;
}